.kv-data-box {
    position: absolute;
    top: 85%;
    left: 10%;
    border: 1px solid #E7FBFF;
    border-radius: 30px;
    box-shadow: 0px 0px 1px #C4F5FF, 0px 0px 5px #8BECFF, 0px 0px 6px #8BECFF;
    background-color: rgba(231,251,255, 0.15);
    width: 570px;
    height: 160px;
    text-align: center;
    padding: 30px 40px 30px 40px;
    z-index: 7;
}

.kv-data-box-text {
    display: inline-block;
    text-transform: uppercase;
    color: #E7FBFF;
    text-shadow: 0 0 0.7em #8BECFF,0 0 0.5em #8BECFF;
    }
    
    .kv-data-box-text h1{
    margin-top: 0px;
    margin-bottom: 10px;
    }

@media (max-width: 576px) {
    .kv-data-box{
        top: 137%;
        left: 23%;
        width: 253px;
        height: 160px;
        padding: 30px 40px 30px 40px;
    }
    .kv-data-box-text{
        width: 70px;
    }
    .kv-data-box-text h1{
        font-size: 34px;
    }
    .kv-data-box-text p{
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .kv-text{
        top: 55%;
        bottom: 0%;
    }
    .kv-quote {
        font-size: medium;
    }
}

.kv-text h1 {
    margin-top: 25px;
    margin-bottom: 35px;
}

.kv-bg {
    width: 200%;
    height: auto;
    object-position: center;
    object-fit: cover;
}
@media (max-width: 576px) {
    .kv-bg {
        background-size: 150%;
        object-position: right;
        object-fit: cover;
    }
}

.about-text-box {
    background: linear-gradient(257.07deg, #07223F 0%, #250414 100%);
    border-radius: 60px 0 0 60px;
    padding: 135px 120px 135px;
    z-index: -1;
}
@media (max-width: 576px) { 
    .about-text-box {
        background: #021927;
        padding: 0%;
        margin: 5%;
        margin-top: 100px;
    }
}

.about-text {
    padding-left: 30px; 
}
@media (max-width: 575.98px) {
    .about-text {
        padding: 40px 30px 40px 30px;
    } 
}

.about-img {
    position: relative;
    left: 0px;
    width: 677px;
    z-index: 7;
}
@media (max-width: 1200px) {
    .about-img {
        width: 500px; 
        margin-bottom: 20%;
    }}
@media (max-width: 992px) {
    .about-img {
        width: 500px; 
        margin-bottom: 20%;
    }}
@media (max-width: 576px) {
    .about-img {
        width: 300px; 
        margin-top: 30%;
        margin-bottom: 0%;
    }
}

.about-img-box {
    position: relative;
    top: 50%;  
    float:left;  
}

.honor-list::-webkit-scrollbar {
    background-color: transparent;
}

#honor-card-1 {
    margin-left: 10%;
}

.card {
    position: relative;
    width: 22rem;
    height: 380px;
    border: 0;
    border-radius: 30px;
    padding: 0px;
    object-fit: contain;
    margin-bottom: 50px;
}
@media (max-width: 576px) {
    #honor-card-1 {
        margin-left: 5%;
    }
    .card {
        width: 300px;
        height: 321px;
    }
    .card-body{
        padding:5%;
    }
    .card-img-top {
        width: 300px; 
        height: 200px;
    }
}

.bg-img-L {
    position: relative;
    z-index: -1;
}

.index-multi-bg {
    background-size: cover;
    background-image: url('../images/bgMagenta.png'), url('../images/bgBlue.png');
    background-position: top -500px left, right bottom;
    background-repeat: no-repeat, no-repeat;
    position: absolute;
    z-index: 5;
}

.index-bg-bottom {
    background-size: contain;
    background-image: url('../images/bg01.png');
    background-position: center 25%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 4;
}

.project-row {
    margin-right:0;
}

@media (max-width: 576px) { 
.project-row {
    margin-right:-50px;
}
}

.research-box-left {
    width: 370px;
    height: 500px;
    right: 6%;
    background-color: #021927;
    border-radius: 30px;
    position: relative; 
    margin-top: 10%;
    z-index: 20;
    padding: 2%;
}

.research-box-right {
    width: 370px;
    height: 500px;
    right: 3%;
    background-color: #021927;
    border-radius: 30px;
    position: relative;
    margin-top: 5%; 
    z-index: 30;
    padding: 2%;
}
@media (max-width: 1200px) { 
    .research-box-left {
        width: 320px;
        height: 430px;
    }
    .research-box-right {
        width: 320px;
        height: 430px;
    }
}
@media (max-width: 992px) { 
    .research-box-left {
        width: 300px;
        height: auto;
    }
    .research-box-right {
        width: 300px;
        height: auto;
    }
}
@media (max-width: 576px) { 
    .research-box-left {
        width: 300px;
        height: 340px;
        left: 5%;
        padding: 5%;
        margin-top: 5%;
        margin-left: 5%;
    }
    .research-box-right {
        width: 300px;
        height: 340px;
        left: 5%;
        padding: 5%;
        margin-top: 5%;
        margin-left: 5%;
    }
}

.news-card-body {
    background-color: transparent;
    padding-top: 60px;
    margin-right: 10px;
}

.news-card-body img {
    border-radius: 30px;
    height: 100%;
    width: auto;
}

.news-card-text {
    color: #E7FBFF;
    padding-top: 20px;
}

.news-card-text-box {
    width: 100%;
}

@media (max-width: 576px) { 
    .news-card-body {
        padding-top: 0px;
    }
}

.dots-bg {
    position: absolute;
    width: 100%;
    height: 810px;
    /* left: calc(50% - 1440px/2); */
    top: 1550px;
    left: 0;

    background: no-repeat linear-gradient(180deg, rgba(0, 0, 0, 0) 100%, #000000 100%), center / cover url('../images/bg01.png');
    mix-blend-mode: screen;
    opacity: 0.8;
    z-index: -10;

}