.kv-data-box {
    position: absolute;
    top: 85%;
    left: 10%;
    z-index: 99;
    border: 1px solid #E7FBFF;
    border-radius: 30px;
    box-shadow: 0px 0px 30px 0px #8BECFF;
    box-shadow: 0px 0px 15px 0px #8BECFF;
    box-shadow: 0px 0px 4px 0px #C4F5FF;
    background-color: rgba(231,251,255, 0.1);
    width: 570px;
    height: 160px;
    text-align: center;
    padding-top: 2%;
    padding-left: 50px;
    padding-right: 50px;
}
@media (max-width: 576px) {
    .kv-data-box{
        top: 100%;
        left: 0;
        width: 70%;
        height: fit-content;
        opacity: 0;
    }
    .kv-data-box-text {
        size: 50%;
        top: 50%;
    }
}

.kv-text h1 {
    margin-top: 25px;
    margin-bottom: 35px;
}

.kv-bg {
    max-width:1400px;
    max-height: 700px;
}

.kv-data-box-text {
display: inline-block;
text-transform: uppercase;
color: #E7FBFF;
text-shadow: 0 0 0.7em #8BECFF,0 0 0.2em #8BECFF;
}

.kv-data-box-text h1{
margin-top: 0px;
margin-bottom: 10px;
}

.about-text-box {
    background: linear-gradient(257.07deg, #07223F 0%, #250414 100%);
    border-radius: 60px 0 0 60px;
    padding: 135px 120px 135px;
}
@media (max-width: 576px) { 
    .about-text-box {
        background: #021927;
        padding: 0%;
        margin: 5%;
        margin-top: 200px;
    }
}


.about-text {
    padding-right: 10%;
}

.about-img {
    position: relative;
    left: 0px;
    width: 677px;
    z-index: 99;
}
@media (max-width: 1200px) {
    .about-img {
        width: 500px; 
        margin-bottom: 20%;
    }}
@media (max-width: 992px) {
    .about-img {
        width: 500px; 
        margin-bottom: 20%;
    }}

.about-img-box {
    position: relative;
    top: 50%;  
    float:left;  
}

.honor-list::-webkit-scrollbar {
    background-color: transparent;
}

.bg-img-L {
    position: relative;
    z-index: -1;
}

.index-multi-bg {
    background-size: cover;
    background-image: url('../images/bgMagenta.png'), url('../images/bgBlue.png');
    background-position: top -500px left, right bottom;
    background-repeat: no-repeat, no-repeat;
    position: absolute;
    z-index: 5;
}

.index-bg-bottom {
    background-size: contain;
    background-image: url('../images/bg01.png');
    background-position: center 25%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 4;
}

.research-box-left {
    width: 370px;
    height: 500px;
    right: 6%;
    background-color: #021927;
    border-radius: 30px;
    position: relative; 
    margin-top: 10%;
    z-index: 20;
    padding: 2%;
}

.research-box-right {
    width: 370px;
    height: 500px;
    right: 3%;
    background-color: #021927;
    border-radius: 30px;
    position: relative;
    margin-top: 5%; 
    z-index: 30;
    padding: 2%;
}
@media (max-width: 992px) { 
    .research-box-left {
        width: 300px;
        height: auto;
    }
    .research-box-right {
        width: 300px;
        height: auto;
    }
}
@media (max-width: 576px) { 
    .research-box-left {
        left: 5%;
    }
    .research-box-right {
        left: 5%;
    }
}

.news-card-body {
    background-color: transparent;
    margin-right: 10px;
}

.news-card-body img {
    border-radius: 30px;
    height: 100%;
    width: auto;
}

.news-card-text {
    color: #E7FBFF;
    padding-top: 20px;
}

.news-card-text-box {
    width: 100%;
}

.dots-bg {
    position: absolute;
    width: 100%;
    height: 810px;
    /* left: calc(50% - 1440px/2); */
    top: 1550px;
    left: 0;

    background: no-repeat linear-gradient(180deg, rgba(0, 0, 0, 0) 100%, #000000 100%), center / cover url('../images/bg01.png');
    mix-blend-mode: screen;
    opacity: 0.8;
    z-index: -10;

}