.news-kv-text-box {
    top: 50%;
    padding-right: 15%;
}

.news-kv-text-date {
    font-size: small;
}

.news-picture {
    width: 100%;
    padding-bottom: 5%;
}

.news-box{
    border: 0px ;
    background-color: #07223F;
    color: #8BECFF;
    padding: auto;
}

.navbar-nav {
    margin: auto;
}