.news-kv-cover-color {
    height: auto;
    background: linear-gradient(230deg, rgba(3,149,255, 0.18) 1%, rgba(2,25,39, 0) ), linear-gradient(60deg, rgba(221,39,126, 0.2) 1%, rgba(2,25,39, 1) );
}

.news-kv-img {
    position: relative;
    height: 85%;
    border-radius: 30px;
    object-position: center;
    object-fit: cover;
}

.news-kv-text-box {
    width: 500px;
    padding: 30px;
    border-radius: 30px;
    background-color: #FFFFFF;
    position: relative;
    margin-top: 30%; 
    
    z-index: 20;

}

.news-kv-text-date {
    font-size: 16px;
    color: #DD277E;
}

.news-kv-text-subtitle {
    font-size: 16px;
    color: #828282;
}

.news-kv-text-title {
    font-size: 20px;
    color: #021927;
}

@media only screen and (max-width: 575px) {
    .news-kv-img {
        top: 20px;
    }
    .news-kv-text-box {
        padding-top: 20px;
        width: 95%;
        margin-top: 0%; 
        right: 0;
    }
    .news-kv-text-title {
        font-size: 18px;
    }
}

.news-picture {
    width: 100%;
    padding-bottom: 5%;
}

.news-box{
    border: 0px ;
    background-color: #07223F;
    color: #8BECFF;
    padding: auto;
}

.navbar-nav {
    margin: auto;
}

.card-text-box {
    width: 100%;
}

@media (max-width: 575.98px) {
    .news-data-bg{
        height: fit-content;
        background: linear-gradient(180deg, rgba(3,149,255, 0.2) 1%, rgba(2,25,39, 0) ), linear-gradient(60deg, rgba(221,39,126, 0.4) 1%, rgba(2,25,39, 1) );
    }
}